.navigationContainer {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    border: 1px solid #1B1A1D;
    border-radius: .4rem;
}

.navigationContainer a,
.navigationContainer span {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #1B1A1D;
    font-weight: bold;
    border-radius: .2rem;
}

.active {
    color: #F9F9F9 !important;
    background: #1B1A1D;
}

@media (min-width:1024px) {

    .navigationContainer a,
    .navigationContainer span {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }
}