.sectionContain {
    width: 100%;
    max-width: 90%;
    margin: 3rem auto 0;
    overflow: hidden;
}

.textoUnoContainer img,
.textoDosContainer img {
    margin-top: 10rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
}
.textoUnoContainer,
.textoDosContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    color: #1b1a1d;
    font-size: 2.4rem;
}

.gridContainer {
    width: 100%;
    margin: 10rem 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.gridContainer img {
    border-radius: 1rem;
}

.mainImage {
    width: 100%;
    height: 100%;
    max-width: 62.6rem;
    max-height: 62.6rem;
    grid-column: 1;
    grid-row: 1 / span 3;
    object-fit: cover;
}

.thumbnail {
    width: 100%;
    height: 100%;
    max-width: 19.1rem;
    max-height: 19.1rem;
    grid-column: 2;
    object-fit: cover;
}

.bottomInfoContainer {
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.bottomLeftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;
}

.itemContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.itemContainer span:first-child,
label {
    font-weight: 600;
}

.btnDownload {
    width: 18rem;
    height: 6rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    border-radius: .8rem;
    outline: none;
    border: none;
    color: #F9F9F9;
    background: #473579;
    cursor: pointer;
}

@media (min-width: 768px) {
    .sectionContain {
        max-width: 55%;
    }

    .title {
        font-size: 4rem;
    }

    .textoUnoContainer img,
    .textoDosContainer img {
        width: 100%;
        height: 100%;
        max-width: 41rem;
        max-height: 41rem;
    }

    .gridContainer {
        width: 80%;
        margin: 10rem auto;
    }

    .bottomInfoContainer {
        flex-direction: row;
        gap: 10rem;
    }

    .bottomLeftContainer {
        width: 70%;
    }
}