.text {
    width: 100%;
    max-width: 50rem;
    color: #1b1a1d;
}

.text div {
    font-size: 160%;
}
.text div iframe {
    width: 100%;
    height: 30rem;
}

.text h2 {
    font-size: 1.6rem;
}

.text p {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 150%;
}

@media (min-width: 768px) {
    .text h2 {
        font-size: 2.4rem;
    }

    .text p {
        font-size: 1.6rem;
    }
    
    .text div iframe {
        width: 100%;
        height: 50rem;
    }
}

